body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
    margin: 0;
}

.calculator {
    background-color: #333;
    padding: 80px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    
    
}

.display input {
    width: 95%;
    height: 40px;
    border: none;
    border-radius: 5px;
    text-align: left;
    font-size: 2rem;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #444;
    color: #28e04c;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    text-align: center;
    color: #f4f4f4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    padding: 20px;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #777;
}
